@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;

}

header{
   height: 10vh;
   max-width: 100vw;
   background-color: #B43B68;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.442);
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.teste{
    padding: 25px;
}
#burguer{
    font-size: 3em;
    color: white;
}

#itens{
    display: none;
}

header a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    display: block;
}



main{}

section#inicial{
    height: 80vh;
    display: block;
}

section#inicial h1{
    text-align: center;
    color: #754A5A;
    font-size: 3em;
    margin-top: 10%;
    padding: 10px;
}


section#inicial p {
   text-align: justify;
   padding: 30px;
   font-size: 1.5em;
   color: #754A5A;
}

div.imagem{
    text-align: center;
}

section#sobre{
    background-color: #754A5A;
    height: 90vh;
}

section#sobre p {
    text-align: justify;
    padding: 30px;
    font-size: 1.5em;
    color: white;
 }

 section#sobre h1{
    display: block;
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 20%;
    padding: 20px;
}

 section#sobre a {
    color:white;
    text-decoration: underline;
 }

 section#historia{
    height: 80vh;
    background: white url(imagens/pexels-somben-chea-1294943.jpg) no-repeat bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 section#historia p {
    text-align: justify;
    padding: 30px;
    font-size: 1.5em;
    color: #754A5A;
 }

 section#historia h1{
    display: block;
    text-align: center;
    color: #754A5A;
    font-size: 3em;
    padding: 20px;
}

footer{
    background-color: #754A5A;
    height: 10vh;
     display: flex;
     justify-content: center;
    align-items: center;
    }

footer p {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5em;
}












